* {
    text-align: center;
    margin: 0 auto;
    color: white;
}

body {
    margin: 30px;
    box-shadow: white 0px 0px 10px;
    border: white 1px solid;
    height: 95vh;
    background-image: url('/portfolio/img/background.jpg');
    background-size: cover;
    font-size: 30px;


}

h3 {
    width: 40ch;
    font-size: 60px;
    font-style: italic;
    overflow: hidden;
    text-wrap: nowrap;
    animation: typing 3s steps(20), infinite alternate-reverse;
}
@keyframes typing {
    from {
        width: 0ch;
    }
    
}
p {
    font-style: italic;
}

span {
    font-style: oblique;
    font-size: 35px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 3px #600087;
}

main {
    margin: 30px;
    align-content: center;
}

header {
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
}



header img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: rgb(255, 255, 255);
}

header img:hover {
    transform: scale(1.1);
    box-shadow: white 0px 0px 15px;
}